header {
    display: flex;               
    justify-content: space-between; 
    align-items: center;         
    padding: 20px 5%;            
    background-color: #fff;      
}

.logo {
   color: #E50914;
   font-family: 'Montserrat', sans-serif;
   text-decoration: none;
   font-size: 28px;
   font-weight: 900;
   letter-spacing: -1px;
}
nav a{
color:black;
text-decoration: none;
margin: 0px 20px;
}
.header-icons {
    display: flex;
    align-items: center; 
    gap: 15px;           
}
.header-icons img {
    width: 21px;   
    height: 21px;  
    object-fit: contain; 
}


.profile-pic img {
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    object-fit: cover;
}
body {
    display: flex;
    flex-direction: column;
}
.rating {
    display:inline-block;
    position: relative;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1;
}
.gri-yildiz {
    color: #ccc;
} 
.altin-yildiz {
    color: #E50914;
    position : absolute;
    top: 0;
    left:0;
    white-space: nowrap;
    overflow: hidden;
}