header {
    display: flex;               
    justify-content: space-between; 
    align-items: center;         
    padding: 20px 5%;            
    background-color: #fff;      
}

.logo {
   color: #E50914;
   font-family: 'Montserrat', sans-serif;
   text-decoration: none;
   font-size: 28px;
   font-weight: 900;
   letter-spacing: -1px;
}
nav a{
color:black;
text-decoration: none;
margin: 0px 20px;
}
.header-icons {
    display: flex;
    align-items: center; 
    gap: 15px;           
}
.header-icons img {
    width: 21px;   
    height: 21px;  
    object-fit: contain; 
}


.profile-pic img {
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    object-fit: cover;
}
body {
    display: flex;
    flex-direction: column;
    
}
.rating {
    display:inline-block;
    position: relative;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1;
   
}
.gri-yildiz {
    color: #ccc;
} 
.altin-yildiz {
    color: #E50914;
    position : absolute;
    top: 0;
    left:0;
    white-space: nowrap;
    overflow: hidden;
}
.ana {
    width: 100%;
    min-width: 80vh;
    background-image: linear-gradient(to right, rgba(255,255,255,0.95), rgba(255,255,255,0)), url("assets/topGun.jpg");
    background-size: cover;
    background-position-y: 30%  ;
    display:flex;
    align-items: center;
    padding: 50px 5%;
    border: 1px solid #333;
    border-bottom-color: #ccc;
    box-sizing: border-box;
    
}  
.ana-icerik {
    max-width : 600px;
}
.ana-icerik h1 {
font-size: 2.5rem;
margin-bottom: 20px;
font-family: 'Montserrat', sans-serif;
}
.film-meta {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 0.9rem;
}
.yas{
    border: 1px solid #333;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 0.8rem;
}
.aciklama {
    line-height: 1.6;
    margin-bottom: 25px;
    font-family:'Montserrat', sans-serif;
    font-size: 0.95rem;
    color: #333333;
}
.basrol, .tur, .etiketler {
    margin-bottom: 8px;
    font-size: 0.9rem;
}
.ana-icerik strong {
    color:#E50914;
    margin-right: 5px;
}
.btn-play {
    background-color: #E50914;
    color: white;
    border: none;
    padding: 12px 30px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor:pointer;
    align-items: center;
    gap:10px;
    transition: transform 0.2s, background-color 0.2s;
    margin-top: 20px;
}
.btn-play:hover {
background-color: #b20710;
transform: scale(1.05);
}
.btn-play span{
font-size: 1.2rem;
}
.popular-movies-container {
    padding: 40px 5%;
    display: flex;
    flex-direction: column; 
    gap: 20px; 
}

.popular-movies-container .header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 15px;
}


.movie-list {
    display: flex;
    flex-direction: row; 
    gap: 20px; 
    overflow-x: auto; 
    padding-bottom: 10px;
}


.movie-card {
    min-width: 250px; 
    flex-shrink: 0; 
}