header {
    display: flex;               
    justify-content: space-between; 
    align-items: center;         
    padding: 20px 5%;            
    background-color: #fff;      
}

.logo {
   color: #E50914;
   font-family: 'Montserrat', sans-serif;
   text-decoration: none;
   font-size: 28px;
   font-weight: 900;
   letter-spacing: -1px;
   margin-left: -90px;
}
nav a{
color:black;
text-decoration: none;
margin: 0px 20px;
}
.header-icons {
    display: flex;
    align-items: center; 
    gap: 15px; 
    transform: translateX(90px);          
}
.header-icons img {
    width: 21px;   
    height: 21px;  
    object-fit: contain; 
}
.search-box {
    position: relative; 
    display: flex;
    align-items: center;
}


.search-box input {
    padding: 8px 35px 8px 15px;
    border: 1px solid #ccc; 
    border-radius: 20px; 
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    width: 200px; 
}


.search-box img {
    position: absolute; 
    right: 15px; 
    top: 50%; 
    transform: translateY(-50%);
    width: 16px; 
    height: 16px;
    cursor: pointer;
}

.profile-pic img {
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    object-fit: cover;
}
body {
    display: flex;
    flex-direction: column;
    
}
.rating {
    display:inline-block;
    position: relative;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1;
   
}
.gri-yildiz {
    color: #ccc;
} 
.altin-yildiz {
    color: #E50914;
    position : absolute;
    top: 0;
    left:0;
    white-space: nowrap;
    overflow: hidden;
}
.ana {
    width: 100%;
    min-width: 80vh;
    background-image: linear-gradient(to right, rgba(255,255,255,0.95), rgba(255,255,255,0)), url("assets/topGun.jpg");
    background-size: cover;
    background-position-y: 30%  ;
    display:flex;
    align-items: center;
    padding: 50px 5%;
    border: 1px solid #333;
    border-bottom-color: #ccc;
    box-sizing: border-box;
    
}  
.ana-icerik {
    max-width : 600px;
}
.ana-icerik h1 {
font-size: 2.5rem;
margin-bottom: 20px;
font-family: 'Montserrat', sans-serif;
}
.film-meta {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 0.9rem;
}
.yas{
    border: 1px solid #333;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 0.8rem;
}
.aciklama {
    line-height: 1.6;
    margin-bottom: 25px;
    font-family:'Montserrat', sans-serif;
    font-size: 0.95rem;
    color: #333333;
}
.basrol, .tur, .etiketler {
    margin-bottom: 8px;
    font-size: 0.9rem;
}
.ana-icerik strong {
    color:#E50914;
    margin-right: 5px;
}
.btn-play {
    background-color: #E50914;
    color: white;
    border: none;
    padding: 12px 30px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor:pointer;
    align-items: center;
    gap:10px;
    transition: transform 0.2s, background-color 0.2s;
    margin-top: 20px;
    border-radius: 10px;
}
.btn-play:hover {
background-color: #b20710;
transform: scale(1.05);
}
.btn-play span{
font-size: 1.2rem;
}



.popular-movies-container .header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 15px;
    margin: 15px 15px;
}


.movie-list {
    display: flex ;
    flex-direction: row ; 
    justify-content: flex-start ;
    gap: 20px; 
    overflow-x: auto; 
    padding-bottom: 10px;
    width: 100%;
    margin-left: 0; 
    margin-right: auto;
}


.movie-card {
    min-width: 250px; 
    flex-shrink: 0; 
    margin-right: 20px;
    border: 1px solid #333;
    padding: 30px 150px 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: transform 0.3s ease, box-shadow 0.5s ease;
}
.movie-card.normal-c {
    padding: 30px 130px 30px 20px;
    
}
.movie-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 10px 20px rgba(0,0,0,0.1); 
    border-color: #999;
}
h2 {
font-size: 1rem;
margin-bottom: 20px;
font-family: 'Montserrat', sans-serif;
}
.other-film-names {
    font-size: 1.5rem;
margin-bottom: 20px;
font-family: 'Montserrat', sans-serif;
}
.popular-movies-container .btn-play {
    font-size: 0.8rem;
    padding: 10px 45px 10px 15px;
    
}
.popular-movies-container .btn-play span{
    font-size: 0.9rem;
    
}
footer {
    display: flex;
    align-items: flex-start;
    padding: 50px 5%;
    border-top: 1px solid #ccc ;
    font-family: 'Montserrat', sans-serif;
    gap: 50px;
    margin-top: 200px;
}
footer div:first-child {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
footer nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: -110px;
}
footer nav a{
text-decoration: none;
color: #666;
font-size: 0.9rem;
font-weight: 700;
cursor: pointer;
}
footer div:first-child p {
    margin-top: 1rem;
    max-width: 800px;
    line-height: 1.6;
    margin-left: -90px;
}
footer div:nth-child(2),
footer div:last-child {
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 15px; 
    flex-wrap: wrap;
    transform: translateX(110px);
}
footer div:nth-child(2) p {
    width: 100%;
    margin: 0;
    font-weight: 700;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    
}

footer div:last-child p {
    width: 100%;
    margin: 0;
    font-weight: 700;
    font-size: 0.9rem;
   
}
footer div:nth-child(2) i {
     
    cursor: pointer;
    transition: transform 0.2s ease;
    
}

footer div:nth-child(2) i:hover {
    transform: scale(1.15); 
}
.store-google {
    height: 35px;
    object-fit: contain;
    cursor: pointer;
    margin-top: -30px;
}
.store-apple {
    height: 90px;
    object-fit: contain;
    cursor: pointer;
    margin-top: -30px;
    margin-left: -15px; 
}